/* styles.css o el archivo CSS que estés usando */
::-webkit-scrollbar {
  height: 10px; /* Altura de la barra de desplazamiento */
  border-radius: 10px; /* Redondea las esquinas externas de la barra */
}

::-webkit-scrollbar-track {
  background: #88e8ec; /* Color de fondo del track*/
  margin-bottom: 10px; /* Separa la barra hacia abajo */
}

::-webkit-scrollbar-thumb {
  background: #5ce1e6; /* Color del thumb (parte que se desplaza) */
  border-radius: 10px; /* Bordes redondeados del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #3e9194; /* Color del thumb al pasar el mouse */
}





